body {
  font-family: 'Lato', sans-serif;
  color: #000;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.header-1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.41px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 85px;
}

.text-center {
  text-align: center;
}

.button {
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: 20px 45px;
  border: 1px solid #41475b;
}

.button:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.sta-section {
  margin-bottom: 145px;
}

.nav-wrapper {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 220px;
  padding-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav__item {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-right: 70px;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item--active, .nav__item:hover, .nav__item:focus, .nav__item:active {
  color: #111111;
  font-weight: 600;
}

.header-wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 230px;
}

.header-title {
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0.57px;
  line-height: 100px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 30px;
}

.header-description {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.06px;
  text-align: center;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 210px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reviews {
  width: 260px;
}

.review-title {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.29px;
  font-family: "Playfair Display";
  margin-bottom: 45px;
}

.review-item {
  position: relative;
  margin-bottom: 49px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.review-item::before {
  position: absolute;
  top: 0;
  left: -18px;
  display: block;
  content: "";
  width: 36px;
  height: 29px;
  z-index: -1;
  background-image: url("../img/quote.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.review-item__text {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  font-style: italic;
  margin-bottom: 10px;
}

.review-item__author {
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
}

.review-item__author::before {
  content: "-  ";
}

.video {
  width: 280px;
}

.video-title {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.29px;
  font-family: "Playfair Display";
  margin-bottom: 45px;
}

.video-item {
  margin-bottom: 36px;
  position: relative;
  overflow: hidden;
}

.play-icon {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 50px;
}

.play-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -5.5px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5.5px solid transparent;
  border-left: 8px solid #000000;
  border-bottom: 5.5px solid transparent;
}

.video-item .play-icon {
  position: absolute;
  left: -10px;
  bottom: -15px;
}

.video-center {
  position: relative;
}

.video-center .play-icon {
  position: absolute;
  left: 24px;
  bottom: 32px;
}

.instructors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 255px;
}

.instructor__image {
  margin-bottom: 30px;
}

.instructor__name {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.28px;
  text-align: center;
  margin-bottom: 15px;
}

.instructor__students {
  color: #2ab738;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.14px;
  text-align: center;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 190px;
}

.blog:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blog:last-child {
  margin-bottom: 250px;
}

.blog-content {
  width: 450px;
}

.blog__title {
  font-family: 'Playfair Display', serif;
  font-size: 39px;
  font-style: italic;
  letter-spacing: 0.33px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.blog__description {
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  letter-spacing: 0.06px;
  line-height: 31px;
  margin-bottom: 55px;
}

.blog__readmore {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.06px;
  text-decoration: none;
  height: 52px;
  border: 1px solid #e5e5e5;
  padding: 20px 30px;
}

.blog__readmore:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.footer {
  border-top: 1px solid #f2ede7;
  padding: 48px 0 38px;
}

.footer-container {
  width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 19.09px;
  margin-bottom: 15px;
}

.footer__subtitle {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.footer-designer {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.footer-designer strong {
  color: #000000;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */