body{
  font-family: 'Lato', sans-serif;
  color: #000;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.header-1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.41px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 85px;
}

.text-center {
  text-align: center;
}

.button {
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: 20px 45px;
  border: 1px solid #41475b;
    &:hover{
      background-color: #000;
      color: #fff;
      transition: 0.2s ease-in;
    }
}

.sta-section {
  margin-bottom: 145px;
}