body{
  font-family: 'Lato', sans-serif;
  color: #000;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.header-1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.41px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 85px;
}