.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}

.blog-content {
  width: 450px;
}

.blog__title {
  font-family: 'Playfair Display', serif;
  font-size: 39px;
  font-style: italic;
  letter-spacing: 0.33px;
}

.blog__description {
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  letter-spacing: 0.06px;
  line-height: 31px;
}

.blog__readmore {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.06px;
  text-decoration: none;
}