.header-wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5e8af;
}

.header-title {
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0.57px;
  line-height: 100px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 30px;
}

.header-description {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.06px;
  text-align: center;
}