.instructors-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 255px;
}

.instructor__image {
  margin-bottom: 30px;
}

.instructor__name {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.28px;
  text-align: center;
  margin-bottom: 15px;
}

.instructor__students {
  color: #2ab738;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.14px;
  text-align: center;
}