.reviews {
  width: 260px;
}

.review-title {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.29px;
  font-family: "Playfair Display";
  margin-bottom: 45px;
}

.review-item {
  position: relative;
  margin-bottom: 49px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;

    &::before {
      position: absolute;
      top: 0;
      left: -18px;
      display: block;
      content: "";
      width: 36px;
      height: 29px;
      z-index: -1;
      background-image: url("/img/quote.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
}

.review-item__text {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  font-style: italic;
  margin-bottom: 10px;
}

.review-item__author {
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;

    &::before {
      content: "-  ";
    }
}